@model TheatreCMS3.Areas.Rent.Models.RentalPhoto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="RentalPhotos-Details--form-contain">
    <h1>Rental Photo Details</h1>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-10 offset-1 text-center">
            <div>
                <h3>@Html.DisplayNameFor(model => model.RentalsName)</h3>
            </div>

            <div>
                <h5>@Html.DisplayFor(model => model.RentalsName)</h5>
            </div>

            <div>
                <h3>@Html.DisplayNameFor(model => model.Damages)</h3>
            </div>

            <div>
                <h5>@Html.DisplayFor(model => model.Damages)</h5>
            </div>
            @{
                string image = "";
                if (Model.RentalPhotos != null)
                {
                    image = Convert.ToBase64String(Model.RentalPhotos);
                }
            }

            <div>
                <h3>@Html.DisplayNameFor(model => model.RentalPhotos)</h3>
            </div>

            <div>
                <img src="data:image/jpg;base64, @image" class="image-index--size" />
            </div>

            <div>
                <h3>@Html.DisplayNameFor(model => model.Details)</h3>
            </div>

            <div>
                <h5>@Html.DisplayFor(model => model.Details)</h5>
            </div>


            @*<div class="col mb-4 text-center">
            @Html.ActionLink("Back to List", "Index")
        </div>*@



            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions text-center">
                    
                    <button class="btn btn-dark btn-lg btn-outline-light">
                        <i class="fa fa-user-edit" aria-hidden="true"></i>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.RentalPhotoId })
                    </button>
                    <button class="btn btn-warning btn-lg btn-outline-light">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        @Html.ActionLink("Back to List", "Index")
                    </button>
                </div>
            }
        </div>
    </div>

    @*<div>
        <h4>Rental Photo Details</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.RentalsName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RentalsName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Damages)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Damages)
            </dd>
            @{
                string image = "";
                if (Model.RentalPhotos != null)
                {
                    image = Convert.ToBase64String(Model.RentalPhotos);
                }
            }

            <dt>
                @Html.DisplayNameFor(model => model.RentalPhotos)
            </dt>

            <dd>
                <img src="data:image/jpg;base64, @image" class="" />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Details)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Details)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.RentalPhotoId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
